<template>
    <div class="md-input">
    	<!-- si no es custom rendero un input de html -->
    	<input 
    		v-if="!custom" 
    		class="browser-default md-input" 
    		:placeholder="placeholder" 
    		:type="type"
    		:name="name"
    		:value="value"
    		:class="{valid: valid === true, invalid:valid === false}"
    		@input="defaultInputHandler"
    		@blur="onblur"/>
    	
    	<!-- si es personalizado rendero el que corresponda al tipo -->
    	<div v-if="custom" class="custom-input-wrapper">
    		<phone-input 
    			v-if="'phone' === type" 
    			:options="extradata" 
    			:placeholder="placeholder" 
    			:value="value"
    			:valid="valid" 
    			@input="componentOnInputHandler"
    			@blur="onblur"/>
    		<md-materialize-select 
    			v-if="'md-material-select' === type"
    			@input="componentOnInputHandler"
    			:placeholder="placeholder" 
    			:options="extradata"
    			:value="value"  
    			:valid="valid" />
    		<url-input 
    			v-if="'url' === type"
    			:options="extradata" 
    			:placeholder="placeholder"
    			:value="value" 
    			:valid="valid" 
    			@input="componentOnInputHandler"
    			@blur="onblur"/>
    	</div>
        
        <span class="validation-text" :class="{valid: valid===true, invalid:valid ===false}">&nbsp;{{error}}</span>
    </div>
</template>

<script>
import mdselect from './custom-inputs/md-materialize-select.vue';
import phone 	from './custom-inputs/phone-input.vue';
import url 		from './custom-inputs/url-input.vue';

export default {
    name: 'md-input',
    props:{
    	type:{
    		type: String,
    		default: 'text'
    	},
    	name:{
    		type: String,
    		default: ''
    	},
    	value:{
    		type: String,
    		default: ''
    	},
    	placeholder:{
    		type: String,
    		default: ''
    	},
    	extradata:{
    		type: Object,
    		default: function(){return {}}
    	},
    	formerrors:{
    		type: Object,
    		default: function(){return {}}
    	},
    	rules:{
    		type: String,
    		default:''
    	},
    },
    computed:{
    	custom(){
    		return this.customtypes.includes(this.type)
    	},
    	hasErrors(){
    		if(this.formerrors[this.name] || this.frontenderrors.length !==0){
    			return true
    		}
    		return false
    	},
    	error(){
    		if(this.hasErrors){
    			if(this.formerrors.length !== 0 && this.formerrors[this.name]){
    				return this.formerrors[this.name]
    			}
    			if(this.frontenderrors.length !== 0){
    				return this.frontenderrors[0]
    			}
    		}
    		return ''
    	}
    },
    components: {
        'md-materialize-select' : mdselect,
        'phone-input'			: phone,
        'url-input'				: url
    },
    data(){
        return {
        	customtypes:['phone','md-material-select','url'],
        	valid:undefined,
        	frontenderrors:[], 
        }
    },
    methods:{
    	onblur(){
    		if(this.value === ''){
    			this.frontenderrors = []
    			this.valid=undefined
    		}else if(this.validate() && !this.hasErrors && (this.value !== '')){
    			this.valid=true
    		}else{
    			this.valid= false
    		}
    	},
    	defaultInputHandler(event){
    		this.$emit('input', event.target.value)
    	},
    	componentOnInputHandler(data){
    		if(data){
    			this.$emit('input',data)
    		}else{
    			this.$emit('input')
    		}
    	},
    	validate(){
    		const rules = this.rules.split('|')
    		let results = []
    		let msg = []
    		function minLength(value,min){
    			if(min <= value.length){
    				return true
    			}
    			msg.push(`El campo debe tener al menos ${min} carácteres`)
    			return false
    		}
    		function maxLength(value,max){
    			if(value.length <= max){
    				return true
    			}
    			msg.push(`El campo debe tener no más de ${max} carácteres`)
    			return false
    		}
    		function minValue(value,min){
    			value = parseInt(value)
    			if(min <= value){
    				return true
    			}
    			msg.push(`El campo debe tener un valor mínimo de ${min}`)
    			return false
    		}
    		function maxValue(value,max){
    			value = parseInt(value)
    			if(value <= max){
    				return true
    			}
    			msg.push(`El campo debe tener un valor máximo de ${max}`)
    			return false
    		}
    		function regexp(value, reg){
    			//atención aquí con los / de que usan de forma habitual al inicio y final (como en email) no son necesarios
    			reg = new RegExp(reg, 'i')
    			msg.push(`El campo no cumple con el formato`)
    			return reg.test(value)
    		}
    		function isdate(date) {
    			let valid = !!(function(d){return(d!=='Invalid Date'&&!isNaN(d))})(new Date(date))
    			if(!valid){
    				msg.push(`El campo no es una fecha válida`)
    			}
			    return valid;
			}
			function isnumber(value){
				let valid = !isNaN(value)
				if(!valid){
					msg.push(`El campo debe ser un número`)
				}
				return valid
			}
			function isboolean(value){
				return typeof value === 'bolean'
			}
			function isemail(value){
				let  re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				let valid = re.test(String(value).toLowerCase());
				if(!valid){
					msg.push(`El campo no es un email válido`)
				}
				return valid
			}

			//itero sobre las reglas para obtener resultados
			rules.forEach(function(rule){
				let comparator,specialrule;
				if(rule.includes(':')){
					specialrule = rule.split(':')
					rule = specialrule[0]
					comparator = parseInt(specialrule[1])
				}
				switch(rule){
					case 'boolean':
						results.push(isboolean(this.value))
					break;
					case 'number':
						results.push(isnumber(this.value))
					break;
					case 'date':
						results.push(isdate(this.value))
					break;
					case 'minlength':
						results.push(minLength(this.value, comparator))
					break;
					case 'maxlength':
						results.push(maxLength(this.value, comparator))
					break;
					case 'minvalue':
						results.push(minValue(this.value, comparator))
					break;
					case 'maxvalue':
						results.push(maxValue(this.value, comparator))
					break;
					case 'regexp':
						results.push(regexp(this.value, specialrule[1]))
					break;
					case 'email':
						results.push(isemail(this.value))
					break;
				}
			}.bind(this))
			//obtengo resultado final
			console.log(msg)
			this.frontenderrors = msg
			return results.every(function(r){return r})
    	}
    }
}
</script>