<template>
    <div class="wrapper">
    	<tabs @click="updateActive" :active="active" :options="tabsoptions"></tabs>
    	<swiper :childs="childs" direction="row" :active="active">
    		<slot></slot>
    	</swiper>
    </div>
</template>

<script>
	import swiper 	from '../Swiper/swiper.vue'
	import tabs 	from './tabs.vue'
    export default {
        name: 'swipeable-tabs',
        props:{
        	tabsoptions:{
        		type:Object,
        		default:function(){return {tabs:[]}}
        	},
        	childs:{
        		type:Number,
        		default: undefined,
        	}
        },
        components:{
        	'swiper' 	: swiper,
        	'tabs'		: tabs,
        },
        data () {
            return {
                active : 0,
            }
        },
        methods:{
        	updateActive(index){
        		this.active = index
        	}
        }
    }
</script>

<style type="text/css" scoped>

</style>