<template>
    <ul class="tabs of-hidden">
        <li class="tab"
        	v-for="(tab,index) in configuration.tabs" 
        	:class="[ (active == index) ? classes.activetab : classes.defaulttab  ]">
        	<button type="button" 
        		:class="[ (active == index) ? classes.activebutton : classes.defaultbutton  , tab.disabled ? 'disabled':'']"
        		@click="handleclick(tab.event,index,tab.disabled)">{{tab.name}}</button>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'tabs',
        props:{
        	options:{
        		type:Object,
        		default:function(){return{}}
        	},
        	active:{
        		type:Number,
        		default:0,
        	}
        },
        mounted(){
            if(Object.keys(this.options).length !== 0){
                this.init();
            }
        },
        watch:{
        	options:{
                handler:function(){
            		this.init();
            	},
                deep:true,
            }
        },
        data () {
            return {
                classes:{
                	defaulttab:'border-gray',
                	activetab:'bg-gray-darker-1 border-gray-darker-2',
                	defaultbutton:'',
        			activebutton:'',
                },
                configuration:{
                	tabs:[],
                }
            }
        },
        methods:{
            init(){
                if(this.options.classes){
                    this.setClasses()
                }
                this.setConfiguration()
            },
        	setClasses(){
        		if(this.options.classes.defaulttab){
        			this.$set(this.classes, 'defaulttab', this.options.classes.defaulttab)
        		}
        		if(this.options.classes.activetab){
        			this.$set(this.classes, 'activetab', this.options.classes.activetab)
        		}
        		if(this.options.classes.defaultbutton){
        			this.$set(this.classes, 'defaultbutton', this.options.classes.defaultbutton)
        		}
        		if(this.options.classes.activebutton){
        			this.$set(this.classes, 'activebutton', this.options.classes.activebutton)
        		}
        	},
        	setConfiguration(){
                try{
                    let tabs = this.options.tabs.map(function(el){
                        if(typeof el === 'object'){
                            return {
                                name    : el.name,
                                event   : el.event || 'click',
                                disabled: el.disabled || false,
                            }
                        }
                        if(typeof el === 'string'){
                            return {
                                name    : el,
                                event   : 'click',
                                disabled: false
                            }
                        }
                    })
                    this.$set(this.configuration, 'tabs', tabs)
                }catch(e){
                    //options debe estar mal definido... no hago nada
                }
        	},
        	handleclick(event,index,disabled){
        		if(!disabled){
        			this.$emit(event,index)
        		}
        	}
        }
    }
</script>