<template>
    <div class="swipper-wrapper">
        <div class="swiper" :class="sclass" :style="contentstyle" ref="root">
        	<slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
    	props:{
    		active :{
    			type: Number,
    			default:0,
    		},
            direction:{
                type: String,
                default: 'column'
            },
            swiperclass:{
                type: String,
                default: ''
            },
            childs:{
                type:Number,
                default:undefined
            }
    	},
        name: 'swiper',
        mounted(){
        	//workaround feo pero util
            let self = this
            self.$nextTick(function(){
                if(this.childs === undefined){
                    this.interval = setInterval(function(){
                        if(this.$refs && this.$refs.root){
                            this.childrens = this.$refs.root.children.length
                            clearInterval(this.interval)
                        }
                    }.bind(this),500)
                }
            })	
        },
        watch:{
            childs(){
                this.childrens = this.childs
            }
        },
        data(){
        	return {
        		childrens : 0,
        		interval  : null
        	}
        },
        computed:{
        	contentstyle(){
        		let amount 		= this.childrens*100
        		let translate 	= (100 / this.childrens)*this.active
                let direction   = (this.direction=='column')?'Y':'X';
                let property    = (this.direction=='column')?'height':'width';
        		return `${property}:${amount}%;transform:translate${direction}(-${translate}%)`
        	},
            sclass(){
                return this.swiperclass+' '+this.direction
            }
        },
    }
</script>

<style type="text/css" scoped>
    .swipper-wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .swiper{
        display: flex;
        transition: transform .3s ease;
    }
    .swiper.column{
        flex-direction: column;
    }
    .swiper.row{
        flex-direction: row;
    }
    .swiper > * {
        width: 100%;
        height: 100%;
    }
</style>