button:focus, a:focus {
	outline: none;
	color: inherit;
}
.btn{
	height: 3rem;
	line-height: 1;
	border: none;
	background:unset;
	position: relative;
	padding: 0 1rem;
	text-align: center;
	cursor: pointer;
	border-radius: .25rem;
	color: inherit;
}
.btn:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 1;
	border-radius: .25rem;
	transition: opacity .3s ease;
	background-color: rgba(0,0,0,0.1);
}
.btn.hover-light:after{
	background-color: rgba(255,255,255,0.1);
}
.btn:hover:after{
	opacity: 1;
}