.data-filter{
	position: absolute;
	bottom: 5rem;
	left: 1rem;
	width: 300px;
	background: rgba(255,255,255,0.3);
	border:1px solid rgba(44,62,80,0.3);
	border-radius: .5rem;
	box-shadow: 0px 2px 6px rgba(44,62,80,0.5);
}
.data-filter .vs__selected{
	display: block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.data-filter input.vs__search{
	display: none;
}
.data-filter .vs__dropdown-toggle svg{
	height: auto!important;
}
@media screen and (min-width: 1300px){
	.data-filter{
		font-size: 0.8rem;
		width: 250px;
	}
}