.sidenav{
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 999;
	height: calc(100% + 60px);
	will-change:transform;
	pointer-events: all;
	backface-visibility: hidden;
	transition: all .3s ease;
}
.sidenav-fixed{
	z-index: 10!important;
}
.sidenav.from-right{
	right: 0;
	transform: translateX(105%);
}
.sidenav.from-left{
	left: 0;
	transform: translateX(-105%);
}
.sidenav.open{
	transform: translateX(0)!important;
}
.sidenav-overlay{
	position: fixed;
	pointer-events: none;
	opacity: 0;
	z-index: 998;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:rgba(0,0,0,0.6);
	transition: opacity .3s ease;
}
.sidenav-overlay.open{
	opacity: 1;
	pointer-events: all;
}