ul.tabs{
	display: flex;
	position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 3rem;
    margin: 0 auto;
    white-space: nowrap;
    padding-left: 0;
    list-style-type: none;
}
ul.tabs li.tab {
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
}
ul.tabs li.tab button, ul.tabs li.tab a{
    display: inline-block;
    background: transparent;
    border:none;
    text-align: center;
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    margin: 0;
    font-size: .9rem;
    position: relative;
}
ul.tabs li.tab button.active:after, ul.tabs li.tab a.active:after{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	border-bottom: 2px solid;
	outline: none!important;
}