<template>
	<div :class="overlayClassList" @click="handleClickOnOverlay">
		<div class="sidenav" :class="sidenavClassList">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Sidenav',
		computed:{
			sidenavClassList(){
				let open = ''
				let edge = 'from-right'
				let fixed = ''
				if(this.isOpen){
					open = 'open'
				}
				if(this.edge == 'left'){
					edge = 'from-left'
				}
				if(this.fixed && window.innerWidth >= this.responsiveBreak){
					fixed = 'sidenav-fixed'
				}
				return `${open} ${edge} ${fixed} ${this.sidenavClass}`
			},
			overlayClassList(){
				if(this.fixed){
					if(window.innerWidth >= this.responsiveBreak){
						return ( ( this.isOpen? 'pointer-events-none open':'' ) ) 
					}
				}
				return ( this.isOpen? 'sidenav-overlay open':'sidenav-overlay' )
			}
		},
		props:{
			open:{
				type: Boolean,
				default: false,
			},
			edge:{
				type: String,
				default: 'right'
			},
			sidenavClass:{
				type: String,
				default: ''
			},
			fixed:{
				type: Boolean,
				default: false,
			},
			responsiveBreak:{
				type: Number,
				default: 768
			}
		},
		watch:{
			open(){
				if(this.fixed){
					if(window.innerWidth >= this.responsiveBreak){
						this.isOpen = true
					}else{
						this.isOpen = this.open
					}
				}else{
					this.isOpen = this.open
				}

			}
		},
		data () {
			return {
				needfix : false,
				isOpen  : false,
			}
		},
		methods:{
			show(){
				this.needfix = document.querySelector('html').classList.contains('of-hidden') || document.querySelector('body').classList.contains('of-hidden');
				if(!this.needfix){
					document.querySelector('html').classList.add('of-hidden')
					document.querySelector('body').classList.add('of-hidden')
				}
				this.$emit('open')
			},
			hide(){
				if(!this.needfix){
					document.querySelector('html').classList.remove('of-hidden')
					document.querySelector('body').classList.remove('of-hidden')
				}
				this.$emit('close')
			},
			handleClickOnOverlay(event){
				if(event.target.classList.contains('sidenav-overlay')){
					this.hide()
				}
			},
			handleResize(){
				if(this.fixed){
					this.isOpen = window.innerWidth >= this.responsiveBreak
				}
			}
		},
		mounted(){
			if(this.fixed){
				this.isOpen = window.innerWidth >= this.responsiveBreak
			}else{
				this.isOpen = this.open
			}
			window.addEventListener('resize', this.handleResize);
		},
		beforeDestroy(){
			window.removeEventListener('resize', this.handleResize);
		}
	}
</script>

<style type="text/css" scoped>
.of-hidden{
	overflow: hidden;
}
.pointer-events-none{
	pointer-events: none;
}
</style>