html {
 	font-family: 'Avenir', Helvetica, Arial, sans-serif;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	max-width: 100vw;
 	font-size: 16px;
 	transition: all .3s ease;
}
.font-small{
	font-size: 0.8rem;
}
nav{
	height: 3.5rem;
	z-index: 100;
	box-shadow: 2px 0px 6px  #000;
}
nav .container, nav .row{
	height: 100%;
}
nav ul.tabs{
	margin-top:0;
	margin-bottom: 0;
}
nav ul.tabs, nav ul.tabs li, nav ul.tabs li button{
	height: 3.5rem!important;
}
nav .brand{
	line-height: 3.5rem;
}
nav .lnr{
	font-size: 1.5rem;
}
nav button.btn{
	margin: 4px 0;
}
main{
	margin-top: 3.5rem;
	height: calc(100vh - 3.5rem);
}
.lnr{
	color: inherit!important;
}

/* light & dark */
#app.light, nav.light, .sidenav.light, .modal.light {
	background:#fafafa!important;
	color: #2c3e50!important;
}
#app.dark, nav.dark, .sidenav.dark, .modal.dark {
	background: #2c3e50!important;
	color: #fafafa!important;
}
/* fin light & dark */

/*sidenav  */
.sidenav{
	overflow-y: auto;
}
.sidenav-container{
	width: 80%;
	margin: 0 auto;
}
.inner-sidenav{
	width: 25%;
}
.light .inner-sidenav{
	border-left:1px solid #2c3e50;
}
.dark .inner-sidenav{
	border-left:1px solid #516477;
}
ul.sidenav-options{
	list-style: none;
	padding: 0;
}
ul.sidenav-options li{
	line-height: 1;
	width: 100%;
}
ul.sidenav-options li button.btn{
	width: 100%;
	text-align: left;
	line-height:3rem;
	padding-left: 4rem;
	position: relative;
}
ul.sidenav-options li button.btn .lnr{
	font-size: 1.4rem!important;
	position: absolute;
	line-height: 3rem;
	left: 1rem;
}
main .sidenav{
	height: calc(100% - 56px);
	top: 56px;
}
/* active tabs */
ul.tabs button.active{
	border-bottom: 4px solid #3f51b5!important; /* corresponde al indigo de la tabla de colores*/
}
/* fin active tab */
/* year changer */
ul.year-changer li, ul.year-changer li span{
	transition: opacity .3s ease;
}
ul.year-changer li span{
	opacity: 0;
}
ul.year-changer li:hover span{
	opacity: 1;
}
ul.year-changer li:before{
	transition: background .3s ease;
}
#app.light ul.year-changer li.active:before{
	background: rgba(44,62,80,0.8);
}
#app.light ul.year-changer li.active small{
	color:#fafafa;
}
#app.light ul.year-changer li span{
	background: rgba(44,62,80,0.8);
	color: #fafafa;
}
#app.light ul.year-changer li span:after{
	border-color: rgba(44,62,80,0.8) transparent transparent transparent;
}
#app.light ul.year-changer li:before{
	background: rgba(44,62,80,0.3);
}
#app.light ul.year-changer li:not(:last-child):after{
	background: rgba(44,62,80,0.3);
}
#app.dark ul.year-changer li.active:before{
	background: rgba(255,255,255,0.8);
}
#app.dark ul.year-changer li.active small{
	color:#2c3e50 ;
}
#app.dark ul.year-changer li span{
	background: rgba(255,255,255,0.8);
	color:#2c3e50 ;
}
#app.dark ul.year-changer li span:after{
	border-color: rgba(255,255,255,0.8) transparent transparent transparent;
}
#app.dark ul.year-changer li:before{
	background: rgba(255,255,255,0.3);;
}
#app.dark ul.year-changer li:not(:last-child):after{
	background: rgba(255,255,255,0.3);;
}
/* fin year-changer*/
svg circle{
	cursor: pointer;
}