<template>
 	<div class="container">
 		<div class="row">
 			<div class="col-12 text-center">
 				<h2>Conozca al equipo</h2>
 			</div>
 			<br><br>
 			<div class="w-60 mx-auto">
	 			<div class="row">
	 				<div class="col-12 col-md-4">
	 					<img :src="location+'/img/cata.jpg'" />
	 				</div>
	 				<div class="col-12 col-md-8">
	 					<h5>Catalina Aguayo</h5>
	 					<p class="op-60 font-small">Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata Cata </p>
	 				</div>
	 			</div>
	 			<br><br>
	 			<div class="row">
	 				<div class="col-12 col-md-4">
	 					<img :src="location+'/img/nacho.jpg'" />
	 				</div>
	 				<div class="col-12 col-md-8">
	 					<h5>Ignacio Fernández</h5>
	 					<p class="op-60 font-small">Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho Nacho </p>
	 				</div>
	 			</div>
	 			<br><br>
	 			<div class="row">
	 				<div class="col-12 col-md-4">
	 					<img :src="location+'/img/gato.jpg'" />
	 				</div>
	 				<div class="col-12 col-md-8">
	 					<h5>Jorge Fuentes</h5>
	 					<p class="op-60 font-small">Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato Hombre gato </p>
	 				</div>
	 			</div>
	 			<br><br>
	 			<div class="row">
	 				<div class="col-12 col-md-4">
	 					<img :src="location+'/img/pato.jpg'" />
	 				</div>
	 				<div class="col-12 col-md-8">
	 					<h5>Patricio Gutierrez</h5>
	 					<p class="op-60 font-small">Pato Pato Pato Pato Pato quack Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato Pato </p>
	 				</div>
	 			</div>
	 			<br><br>
	 		</div>
 		</div>
 	</div>
</template>

<script type="text/javascript">
	export default {
		name: 'About',
		computed:{
			location(){
				return window.location.origin
			}
		}
	}
</script>

<style type="text/css" scoped>
	img{
		border-radius: 50%;
		height: 120px;
		width: 120px;
	}
	h5{
		margin-top: 1rem;
	}
</style>