<template>
	<div class="h-100">
		<div class="w-75 h-100">
			<D3Map 
				:mapData="movementData.getForD3(activeCriteria,activeZoom)"
				:render="activeYearIndex+'-'+activeCountryIndex+'-'+activeZoom+'-'+activeCriteria" 
				@click="changeCompare" />
			<DataFilter
				:mode="mode" 
				:zoom="activeZoom" 
				:criteria="activeCriteria"
				:countryIndex="activeCountryIndex"
				@changeZoom="changeZoom"
				@changeCriteria="changeCriteria"
				@changeCountry="changeCountry" />
			<YearChanger 
				:years="$options.years" 
				:activeYearIndex="activeYearIndex"
				@changeYear="changeYear" />
		</div>
		<Sidenav :open="sidenavOpen" :sidenavClass="`${mode} inner-sidenav`" :fixed="true">
			<div v-if="compareCountry === null && activeZoomIndex==1" class="d-flex w-90 mx-auto py-2 h-100">
				<p class="text-italic text-center op-60 my-auto font-small">Haga click en una burbuja para obtener más información. <br><br>Puede usar los controles de la derecha para cambiar la información mostrada en el mapa. <br><br> Utilice los controles inferiores para seleccionar el año de la información.</p>
			</div>
			<div v-if="compareCountry !== null && activeZoomIndex==1" class="w-90 mx-auto py-2">
				<CountryComparator 
					:country="activeCountry"
					:yearIndex="activeYearIndex" 
					:compareWith="compareCountry" />
				<br><br>
				<hr>
				<p class="text-center font-small">El año {{activeYear}}, desde <span class="text-capitalize">{{activeCountry}}</span> a <span class="text-capitalize">{{compareCountry}}</span> migraron {{distribution.cant_hmbr + distribution.cant_mjr}} personas ({{distribution.cant_mjr}} mujeres y {{distribution.cant_hmbr}} hombres).</p>
				<GenderChart :distribution="distribution" />
			</div>
			<div v-if="activeZoomIndex==0" class="w-90 mx-auto py-2">
				<AllMovementTable :info="sorted" :continent="continent_id" :activeCriteria="activeCriteria" :year="activeYear" />
			</div>
		</Sidenav>
	</div>
</template>

<script>
import Sidenav				from '@/components/Sidenav/Sidenav.vue';
import D3Map				from '@/components/UI/D3Map.vue';
import DataFilter			from '@/components/UI/DataFilter.vue';
import YearChanger			from '@/components/UI/YearChanger.vue';
import CountryComparator	from '@/components/UI/CountryComparator.vue';
import GenderChart			from '@/components/UI/GenderChart.vue';
import AllMovementTable		from '@/components/UI/AllMovementTable.vue';

//data
import haitiData			from '@/data/HaitiData.js';
import venezData			from '@/data/VenezuelaData.js';
import {annos}				from '@/data/BasicData.js';

export default {
	name: 'home',
	props:{
		mode:{
			type: String,
			default: 'light'
		},	
	},
	countries:['haiti','venezuela'],
	zooms: ['continent','country'],
	criterias: ['total','cant_mjr','cant_hmbr'],
	years: annos,
	countriesData: [haitiData,venezData],
	computed:{
		activeCriteria(){
			return this.$options.criterias[this.activeCriteriaIndex];
		},
		activeZoom(){
			return this.$options.zooms[this.activeZoomIndex];
		},
		activeCountry(){
			return this.$options.countries[this.activeCountryIndex]
		},
		activeYear(){
			return this.$options.years[this.activeYearIndex]
		},
		movementData(){
			let migrations = this.$options.countriesData[this.activeCountryIndex].find(function(obj){
		 		return obj.anno === this.$options.years[this.activeYearIndex]
		 	}.bind(this)).migraciones
		 	return migrations
		},
		sorted(){
			return this.movementData.getSorted('DESC', this.activeCriteria)
		},
		distribution(){
			if(this.compareCountry === null){
				return {cant_hmbr:0,cant_mjr:0}
			}
			return this.movementData.getDistribution(this.compareCountry)
		}
	},
	components:{
		'Sidenav'			:Sidenav,
		'D3Map'				:D3Map,
		'DataFilter'		:DataFilter,
		'YearChanger'		:YearChanger,
		'CountryComparator'	:CountryComparator,
		'GenderChart'		:GenderChart,
		'AllMovementTable'	:AllMovementTable
	},
	data(){
		return {
			sidenavOpen			: true,
			activeCountryIndex	: 0,
			activeYearIndex		: 0,
			activeZoomIndex		: 1,
			activeCriteriaIndex : 0,
			compareCountry		: null,
			continent_id 		: 1,
		}
	},
	methods:{
		changeCountry(i){
			this.activeCountryIndex = i.value;
		},
		changeYear(index){
			this.activeYearIndex = index
		},
		changeZoom(e){
			this.activeZoomIndex = this.$options.zooms.findIndex(function(z){return e.value === z})
		},
		changeCriteria(e){
			this.activeCriteriaIndex = this.$options.criterias.findIndex(function(c){return e.value === c})
		},
		changeCompare(c){
			if(c.country === null){
				this.continent_id = c.continent_id
			}else{
				this.compareCountry = c.country	
			}
		}
	}
}
</script>
