<template>
    <modal ref="modal" :type="'small'">
        <div class="modal-header">
            <h5 class=" bold mt-0 mb-1 text-center">{{ opt.title }}</h5>
        </div>
        <div class="modal-body" v-html="opt.body"></div>
        <div class="modal-footer">
            <button v-if="opt.buttons.decline.active" type="button" @click="dismiss">
                {{ opt.buttons.decline.text }}
            </button>
            <button v-if="opt.buttons.primary.active" class="right" type="button" @click="accept('accept-dialog', 'accepted-primary')">
                {{ opt.buttons.primary.text }}
            </button>
        </div>
    </modal>
</template>

<script>
    import modal from './modal.vue'

    export default{
        props: [],
        name : 'app-dialog',
        components:{
            'modal' : modal
        },
        mounted(){
            window.app.dialog = this.dialog;
            this.init();
        },
        methods: {
            init(){
                let self = this;
            },
            dialog(data){
                let self = this;
                return new Promise((resolve,reject)=>{
                    self.caso = 'pending';
                    Object.assign(self.opt, data);
                    self.open();

                    document.body.addEventListener('accept-dialog', resolve);
                    
                    document.body.addEventListener('dialog-dismiss', reject);
                });
            },
            accept(eventName,caso){
                let event = new Event(eventName);
                this.caso = caso;
                document.body.dispatchEvent(event);
                this.$refs.modal.close();
            },
            dismiss(){
                this.caso = 'rejected';
                let event = new Event('dialog-dismiss');
                document.body.dispatchEvent(event);  
                this.$refs.modal.close();
            },
            open(){
                this.$refs.modal.open()
            }
        },
        data () {
            return {
                modal           : undefined,
                caso            : 'pending',
                opt:{
                    buttons:{
                        primary : {
                            text    : 'Aceptar',
                            active  : true
                        },
                        decline :{
                            text    : 'Cancelar',
                            active  : true
                        },
                    },
                    title       : '¿Esta seguro?',
                    body        : 'Información adicional',
                }
            }
        }
    }
</script>

<style type="text/css">

</style>