<template>
    <transition name="modal">
    	<div class="modal-mask" v-if="show">
      		<div class="modal-wrapper" @click="handleclickonoverlay">
        		<div class="modal-container" :class="type">
              <slot></slot>
        		</div>
      		</div>
    	</div>
  	</transition>
</template>

<script>
    export default {
        name: 'modal',
        props:['type'],
        data () {
            return {
                show: false,
                needfix : false
            }
        },
        methods:{
        	open(){
            this.needfix = document.querySelector('html').classList.contains('of-hidden') || document.querySelector('body').classList.add('of-hidden');
            if(!this.needfix){
              document.querySelector('html').classList.add('of-hidden')
              document.querySelector('body').classList.add('of-hidden')
            }
        		
        		this.show = true
        	},
        	close(){
            if(!this.needfix){
              document.querySelector('html').classList.remove('of-hidden')
              document.querySelector('body').classList.remove('of-hidden')
            }
        		this.show = false
        	},
          handleclickonoverlay(event){
            if(event.target.classList.contains('modal-wrapper')){
              this.close()
            }
          }
        }
    }
</script>

<style type="text/css">
	.of-hidden{
		overflow: hidden;
	}
</style>