<template>
    <div class="phone-input-wrapper">
        <span ref="span" :class="{valid: valid === true, invalid:valid === false}">&nbsp;&nbsp;{{options.label}}</span>
        <input 
        	type="text" 
        	ref="input" 
        	:class="{valid: valid === true, invalid:valid === false}" 
        	class="browser-default md-input"  
        	:name="name" 
        	:placeholder="placeholder" 
        	:value="displayedvalue" 
        	@input="handleInput"
        	:style="`padding-left:${spanwidth}px`" 
        	maxlength="9">
    </div>
</template>

<script>

export default {
    name: 'phone-input',
    props:{
    	value:{
    		type: String,
    		default: '',
    	},
    	name:{
    		type: String,
    		default: '',
    	},
    	placeholder:{
    		type: String,
    		default: ''
    	},
    	valid:{
    		default: undefined
    	},
    	options:{
    		type: Object,
    		default: function(){return {}}
    	}
    },
    mounted(){
    	if(this.value !== '' && !isNaN(this.value)){
    		this.displayedvalue = this.formatNumber(this.value)
    	}
    	this.handleResize()
    	window.addEventListener('resize', this.handleResize)	
    },
    watch:{
    	options(){
    		this.handleResize()
    	}
    },
    data(){
        return {
           displayedvalue:'',
           spanwidth:0
        }
    },
    methods:{
    	handleInput(event){
            let value = event.target.value;
            if(isNaN(value)){
                this.$refs.input.value = value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
            }else{
                this.displayedvalue = this.formatNumber(value);
                this.$emit('input', this.removeWhiteSpaces(value));
            }
        },
    	formatNumber(int){
            if(int.charAt(0) == 9){
                int = int.replace(/(\d)(\d\d\d\d)(\d\d\d\d)/, "$1 $2 $3");
            }else{
                int = int.replace(/(\d\d\d)(\d\d\d)(\d\d\d)/, "$1 $2 $3");
            }
            return int
        },
        removeWhiteSpaces(val){
        	return val.replace(/\s/g,'')
        },
        handleResize(){
    		this.spanwidth = this.$refs.span.offsetWidth
    	}
    },
    beforeDestroy(){
    	window.removeEventListener('resize', this.handleResize)
    }
}
</script>