<template>
    <div class="url-input-wrapper">
        <span :class="{valid: valid === true, invalid:valid === false}" ref="span">&nbsp;&nbsp;{{options.label}}</span>
        <input ref="input" @input="$emit('input', $event.target.value)" @blur="$emit('blur')" type="text" :name="name" :placeholder="placeholder" class="browser-default md-input" :class="{valid: valid === true, invalid:valid === false}" :value="value" :style="`padding-left:${spanwidth}px`">
    </div>
</template>

<script>

export default {
    name: 'url-input',
    props:{
    	value:{
    		type: String,
    		default: '',
    	},
    	name:{
    		type: String,
    		default: '',
    	},
    	placeholder:{
    		type: String,
    		default: ''
    	},
    	options:{
    		type: Object,
    		default: function(){return {}}
    	},
    	valid:{
    		default: undefined
    	}
    },
    watch:{
    	options(){
    		this.handleResize()
    	}
    },
    mounted(){
    	this.handleResize()
    	window.addEventListener('resize', this.handleResize)	
    },
    data(){
        return {
           spanwidth:0
        }
    },
    methods:{
    	handleResize(){
    		this.spanwidth = this.$refs.span.offsetWidth
    	}
    },
    beforeDestroy(){
    	window.removeEventListener('resize', this.handleResize)
    }
}
</script>