<template>
    <div id="app" :class="mode">
        <Navigation 
            :mode="mode"
            @changeMode="changeMode" />
        <main>    
            <router-view 
                :mode="mode"/>
        </main>
        <EasterEgg />
    </div>
</template>

<script>
    import nav          from './components/UI/Navigation.vue';
    import Egg          from './components/Easter/Egg.vue';

    export default {
        name        : 'App',
        components  : {
            'Navigation'    : nav,
            'EasterEgg'     : Egg
        },
        countries:['haiti','venezuela'],
        data(){
            return {
                mode:'light',
            }
        },
        methods:{
            changeMode(){
                if(this.mode === 'light'){
                    this.mode = 'dark';
                }else{
                    this.mode = 'light';
                }
            },
        }
    }
</script>

<style>
    @import './assets/css/reset.css';
    @import './assets/css/grid.css';
    @import './assets/css/helpers.css';
    @import './assets/css/components/sidenav.css';
    @import './assets/css/components/tabs.css';
    @import './assets/css/components/buttons.css';
    @import './assets/css/components/data-filter.css';
    @import './assets/css/components/colors.css';
    @import './assets/css/style.css';
    @import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
</style>
