<template>
	<table class="font-small w-100">
		<thead>
			<tr>
				<th class="text-left">Destino</th>
				<th class="text-right" v-if="movements.length !== 0">{{movements[0][activeCriteria].name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(mov,i) in movements" :key="i">
				<td style="max-width: 150px">
			<p class="text-of-hidden my-0" :title="mov.destino.name">
				<Flag :code="mov.destino.short_code" />
				{{mov.destino.name}}
			</p>
				</td>
				<td class="text-right text-bold">{{mov[activeCriteria].value}}</td>
			</tr>
			<tr>
				<td class="text-bold">Total del continente en {{year}}</td>
				<td class="text-right text-bold">{{visible_sum}}</td>
			</tr>
		</tbody>
	</table>
</template>

<script type="text/javascript">
	export default {
		name:'AllMovementTable',
		props:{
			info:{
				type:Array,
				default: function(){return []}
			},
			continent:{
				type:Number,
				default:1
			},
			activeCriteria:{
				type:String,
				default:'total'
			},
			year:{
				type:Number,
				default: 1995,
			}
		},
		computed:{
			movements(){
				return this.info.filter(function(m){
					return m.destino.continent_id == this.continent
				}.bind(this))
			},
			total_mjr(){
				return this.movements.reduce(function(prev,curr){
					return prev + curr.cant_mjr.value
				},0)
			},
			total_hmbr(){
				return this.movements.reduce(function(prev,curr){
					return prev + curr.cant_hmbr.value
				},0)
			},
			total_anno(){
				return this.movements.reduce(function(prev,curr){
					return prev + curr.total.value
				},0)
			},
			visible_sum(){
				if(this.activeCriteria === 'cant_mjr'){ return this.total_mjr }
				if(this.activeCriteria === 'cant_hmbr'){ return this.total_hmbr}
				return this.total_anno;
			},
		}
	}
</script>