<template>
	<div>
		<div class="comparator-header">
			<h4 class="mb-1 mt-0 text-of-ellipsis">
				Indicadores:&nbsp;
				<span v-if="compareWith!==null" class="text-capitalize">{{compareWith}}</span>
				<span v-if="compareWith!==null" class="op-60">&nbsp;vs&nbsp;</span>
				<span class="text-capitalize">{{country}}</span>
			</h4>
		</div>
		<table class="comparator-table w-100">
			<thead>
				<tr>
					<th class="pt-0"></th>
					<th class="text-left pt-0"><Flag :code="countryCode(compareWith)" /></th>
					<th class="text-left pt-0"><Flag :code="countryCode(country)" /></th>
				</tr>
			</thead>
			<tbody class="font-small">
				<tr>
					<td>Indice de desarrollo humano</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.hdi[yearIndex].length != 0" :class="textClass('countryToCompare','hdi')">
							{{countryToCompare.hdi[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.hdi[yearIndex].length != 0" :class="textClass('basicCountry','hdi')">
							{{basicCountry.hdi[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				<tr>
					<td>Producto interno bruto (PIB)</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.gdp[yearIndex].length != 0" :class="textClass('countryToCompare','gdp')">
							{{countryToCompare.gdp[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.gdp[yearIndex].length != 0" :class="textClass('basicCountry','gdp')">
							{{basicCountry.gdp[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				<tr>
					<td>Tasa de empleo sobre población (mayores de 15)</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.employment[yearIndex].length != 0" :class="textClass('countryToCompare','employment')">
							{{countryToCompare.employment[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.employment[yearIndex].length != 0" :class="textClass('basicCountry','employment')">
							{{basicCountry.employment[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				
				<tr>
					<td>Indice de ingresos</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.income_index[yearIndex].length != 0" :class="textClass('countryToCompare','income_index')">
							{{countryToCompare.income_index[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.income_index[yearIndex].length != 0" :class="textClass('basicCountry','income_index')">
							{{basicCountry.income_index[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				<tr>
					<td>Gasto en salud (%PIB)</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.health_expenditure[yearIndex].length != 0" :class="textClass('countryToCompare','health_expenditure')">
							{{countryToCompare.health_expenditure[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.health_expenditure[yearIndex].length != 0" :class="textClass('basicCountry','health_expenditure')">
							{{basicCountry.health_expenditure[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				<tr>
					<td>Esperanza de vida</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.life_expectancy[yearIndex].length != 0" :class="textClass('countryToCompare','life_expectancy')">
							{{countryToCompare.life_expectancy[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.life_expectancy[yearIndex].length != 0" :class="textClass('basicCountry','life_expectancy')">
							{{basicCountry.life_expectancy[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
				<tr>
					<td>Indice de educación</td>
					<td>
						<span v-if="countryToCompare !== null && countryToCompare.education_index[yearIndex].length != 0" :class="textClass('countryToCompare','education_index')">
							{{countryToCompare.education_index[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
					<td>
						<span v-if="basicCountry !== null && basicCountry.education_index[yearIndex].length != 0" :class="textClass('basicCountry','education_index')">
							{{basicCountry.education_index[yearIndex]}}
						</span>
						<span v-else>N/D</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script type="text/javascript">
	import {paises}				from '@/data/BasicData.js';
	import DataManager			from '@/data/prototypes/CountryDataManager.js';

	export default {
		name: 'CountryComparator',
		computed:{
			basicCountry(){
				if(this.manager.getByName){
					return this.manager.getByName(this.country)
				}
				return null
			},
			countryToCompare(){
				if(this.manager.getByName){
					return this.manager.getByName(this.compareWith)
				}
				return null
			},
		},
		paises:paises,
		props: {
			country: {
				type: String,
				default: 'Haiti'
			},
			compareWith: {
				type: String,
				default: null,
			},
			yearIndex :{
				type: Number,
				default: 0
			}
		},
		data(){
			return {
				manager : new DataManager(),
			}
		},
		methods:{
			textClass(comparerKey,key){
				const posiblesComparers = ['basicCountry', 'countryToCompare'];
				const otherKey = posiblesComparers.find(function(k){return k!==comparerKey});
				if(this[comparerKey]===null || this[otherKey]===null){
					return ''
				}
				if(this[comparerKey][key]==='' || this[otherKey][key]===''){
					return ''
				}
				if( Math.round(parseFloat(this[comparerKey][key])*10000 ) < Math.round(parseFloat(this[otherKey][key])*10000 ) ){
					return 'red-text text-darken-2'
				}
				if(Math.round(parseFloat(this[comparerKey][key])*10000) > Math.round(parseFloat(this[otherKey][key])*10000) ){
					return 'green-text text-darken-1'
				}
				return ''
			},
			countryCode(n){
				if(n===null){
					return '';
				}
				return this.$options.paises.find(function(p){
					return p.name.toLowerCase() === n.toLowerCase()
				}).short_code
			}
		}
	}
</script>

<style type="text/css">
	table{
		width: 100%;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
	}
	table td, table th{
		padding: 1rem 0.5rem;
		margin: 0;
		display: table-cell;
	}
	table tr{
		border-bottom: 1px solid #cecece;
	}
</style>