<template>
    <div class="w-100 h-100 of-hidden" ref="root">
        <svg ref="svg" :height="height" :width="width"></svg>
    </div>
</template>

<script>
    import * as d3 from "d3";
    import svgZoom from 'svg-pan-zoom';
    import dataGeo from '@/data/world.js';

    export default {
        name: 'D3Map',
        props:{
            mapData:{
                type:Array,
                default:function(){return []}
            },
            render:{
                type: String,
                default: ''
            },
        },
        watch:{
            render(val){
                if(this.renderkey !== val){
                    try{
                        this.svg.selectAll('*').remove();
                        this.setSvgAttributes();
                        this.setProjection();
                        this.drawMap();
                        this.drawCircles();
                        this.initZoom();

                    }catch(e){console.log(e)}
                }
            }
        },
        mounted(){
            this.setSvgAttributes();
            this.createScale();
            window.addEventListener('resize', this.handleResize);
        },
        beforeDestroy(){
            window.removeEventListener('resize', this.handleResize);
        },
        updated(){
            if(!this.firstDraw){
                this.setSvgAttributes();
                this.init();
                this.drawMap();
                this.drawCircles();
                this.initZoom();
                this.firstDraw = true;
                console.log('called')
            }
        },
        data(){
            return  {
                firstDraw: false,
                svg: null,
                width: 0,
                g:null,
                height:0,
                projection: null,
                path:null,
                scale:null,
                zoom:null,
                renderkey:'',
            }
        },
        methods:{
            handleResize(){
                console.log('resize');
                this.svg.selectAll('*').remove();
                this.setSvgAttributes();
                this.setProjection();
                this.drawMap();
                this.drawCircles();
                this.initZoom();
            },
            setSvgAttributes(){
                this.$set(this, 'width', this.$refs.root.offsetWidth);
                this.$set(this, 'height', this.$refs.root.offsetHeight);
            },
            calcMapProportion(){
                let currentWidth = window.innerWidth,
                    scale = 225/1920*currentWidth;
                return scale;
            },
            setProjection(){
                this.projection = d3.geoMercator()
                    .center([0,25])               
                    .scale(this.calcMapProportion())                      
                    .translate([ this.width/2, this.height/2 ])
            },
            init(){
                this.svg = d3.select("svg");
                this.width = +this.svg.attr("width"),
                this.height = +this.svg.attr("height");
                this.setProjection();
            },
            createScale(){
                var valueExtent = d3.extent(this.mapData, function(d) { return +d.quantity; })
                this.scale = d3.scaleSqrt()
                    .domain(valueExtent) 
                    .range([ 5, 50]) 
            },
            drawMap(){
                this.setProjection();
                this.g = this.svg.append("g")
                    .selectAll("path")
                    .data(dataGeo.features)
                    .enter()
                    .append("path")
                    .attr("fill", "#b8b8b8")
                    .attr("d", d3.geoPath()
                        .projection(this.projection)
                    )
                    .style("stroke", "none")
                    .style("opacity", .4)
            },
            drawCircles(){
                let colors=['#ff7f00','#9c27b0','#e21f22','#277db6','#31a02d','#009688','#fb9a99'];
                this.svg
                    .selectAll("circles")
                    .data(this.mapData.sort(function(a,b) { 
                        return +b.quantity - +a.quantity 
                    }))
                        .enter()
                        .append("circle")
                            .attr("cx", function(d){
                                return this.projection([+d.longitude, +d.latitude])[0] 
                            }.bind(this))
                            .attr("cy", function(d){ return this.projection([+d.longitude, +d.latitude])[1] }.bind(this))
                            .attr("r", function(d){ return this.scale(+d.quantity) }.bind(this))
                            .style("fill", function(d){ return colors[d.continent_id-1] })
                            .attr("fill-opacity", .5)
                            .on("click", function(d){this.handleClick(d)}.bind(this))
                            .append("svg:title")
                            .text(function(d){return d.country})
            },
            initZoom(){
                var zoom = null, pan;
                if(this.zoom !== null){
                    zoom = this.zoom.getZoom();
                    pan = this.zoom.getPan();
                    this.zoom.destroy();
                }
                this.zoom = svgZoom('svg', {
                    viewportSelector: '.svg-pan-zoom_viewport',
                    zoomEnabled: true,
                    controlIconsEnabled: false,
                    fit: false,
                    center: true,
                    minZoom: 1,
                    maxZoom: 10
                })
                if(zoom!==null){
                    this.zoom.zoom(zoom)
                    this.zoom.pan(pan)
                }
            },
            handleClick(d){
                this.$emit('click', d);
            },
        }
    }
</script>

<style type="text/css">
    svg {
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }
</style>