<template>
	<div class="data-filter p-1">
		<small class="op-60">País</small>
		<Select
			@input="$emit('changeCountry', $event)" 
			:class="`${mode} mb-1`" 
			:options="$options.countryOptions" 
			:value="$options.countryOptions[countryIndex]"
			:clearable="false"
			:searchable="false"/>
		<small class="op-60">Agrupar datos por</small>
		<Select
			@input="$emit('changeZoom', $event)" 
			:class="`${mode} mb-1`" 
			:options="$options.groupOptions" 
			:value="groupValue"
			:clearable="false"
			:searchable="false"/>
		<small class="op-60">Mostrar</small>
		<Select 
			@input="$emit('changeCriteria', $event)"
			:class="mode" 
			:options="$options.criteriaOptions" 
			:value="criteriaValue"
			:clearable="false"
			:searchable="false" />
	</div>
</template>

<script>
	import Select from 'vue-select';
	export default {
		name: 'DataFilter',
		props:{
			mode:{
				type: String,
				default: 'light'
			},
			zoom:{
				type: String,
				default: 'continent',
			},
			criteria:{
				type: String,
				default: 'total'
			},
			countryIndex: {
				type: Number,
				default: 0,
			}
		},
		groupOptions:[
			{value:'continent', label:'Por continentes'},
			{value:'country', label:'Por países'}
		],
		countryOptions:[
			{value:0, label:'Haiti'},
			{value:1, label:'Venezuela'}
		],
		criteriaOptions:[
			{value:'total', label:'Total de emigrantes'},
			{value:'cant_mjr', label:'Total de emigrantes femeninos'},
			{value:'cant_hmbr', label:'Total de emigrantes masculinos'},
		],
		computed:{
			groupValue(){
				if(this.zoom === 'continent'){
					return 'Por continentes';
				}
				return 'Por países';
			},
			criteriaValue(){
				if(this.criteria === 'total'){
					return 'Total de emigrantes';
				}
				if(this.criteria === 'cant_mjr'){
					return 'Total de emigrantes femeninos';
				}
				return 'Total de emigrantes masculinos';
			}
		},
		components:{
			'Select': Select,
		},
		data(){
			return {
			}
		}
	}
</script>