<template>
    <span class="flag-icon" :class="iconClass"></span>
</template>

<script>
    export default {
        name: 'Flag',
        computed:{
            iconClass(){
                if(this.code === null){
                    return '';
                }
                return `flag-icon-${this.code.toLowerCase()}`
            }
        },
        props:{
            code:{
                type: String,
                default: 'cl'
            }
        }
    }
</script>

