<template>
	<div class="w-100 text-center">
		<span v-for="i in 64">
			<img  :src="i<=women?womenImg:menImg" :title="i<=women?`${womenPercent}% Emigrantes femeninos`:`${100-womenPercent}% Emigrantes masculinos`" />
			<br v-if="i%16==0" />
		</span>
	</div>
</template>

<script>

export default {
	name : 'GenderChart',
	props:{
		distribution:{
			type: Object,
			default: function(){
				return {cant_mjr: 76,cant_hmbr: 54}
			}
		},
		womenImg:{
			type:String,
			default: window.location.origin+'/img/women.svg',
		},
		menImg:{
			type:String,
			default: window.location.origin+'/img/men.svg',
		}
	},
	computed:{
		total(){
			return this.distribution.cant_mjr + this.distribution.cant_hmbr
		},
		womenPercent(){
			return Math.round(this.distribution.cant_mjr/this.total*100);
		},
		women(){
			return Math.round(this.distribution.cant_mjr * 64 / this.total)
		},
	}
}
</script>

<style type="text/css" scoped>
	img{
		height: 1.5rem; 
		margin:.25rem .1rem
	}
	@media screen and (min-width: 1400px){
		img{
			height: 2rem;
		}
	}
</style>