<template>
	<div>
		<nav class="pos-fixed fixed-top w-100" :class="mode">
			<div class="w-90 mx-auto h-100">
				<div class="row">
					<div class="col-6 col-md-2">
						<router-link to="/" tag="a" style="text-decoration: none">
							<h1 class="d-inline brand">Emigratron</h1>
						</router-link>
					</div>
					<div class="col-12 col-md-8 d-none d-md-flex">
						
					</div>
					<div class="col-6 col-md-2 text-right">
						<router-link tag="button" to="/about" title="Acerca de los autores" type="button" class="btn">
						 	<span class="lnr lnr-highlight"></span>
						</router-link>
						<button v-if="mode === 'dark'" title="Desactivar modo nocturno" type="button" @click="$emit('changeMode')" class="btn">
							<span class="lnr lnr-sun"></span>
						</button>
						<button v-if="mode === 'light'" title="Activar modo nocturno" type="button" @click="$emit('changeMode')" class="btn">
							<span class="lnr lnr-moon"></span>
						</button>
					</div>
				</div>
			</div>
		</nav>
	</div>
</template>

<script>
	export default {
		name : 'Navigation',
		tabsOptions : {
			tabs:['Haiti','Venezuela'],
			classes : {
				defaulttab   : '',
				defaultbutton: 'btn',
				activetab    : '',
				activebutton : 'active'
			}
		},
		props:{
			mode:{
				type: String,
				default: 'light',
			},
		},
	}
</script>