<template>
	<ul class="year-changer">
		<li v-for="(year,i) in years" 
			:key="i"
			:class="(i===activeYearIndex?'active':'')" 
			@click="$emit('changeYear',i )">
			<button type="button" class="text-center">
				<span>{{year}}</span>
				<small>{{(''+year).substr(2,4)}}</small>
			</button>
		</li>
	</ul>
</template>

<script>
	export default {
		name : 'yearChanger',
		props:{
			years:{
				type: Array,
				default: function(){return []}
			},
			activeYearIndex:{
				type: Number,
				default: 0,
			}
		},
	}
</script>

<style type="text/css">
	ul.year-changer{
		display: block;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 25%;
		width: 50%;
		text-align: center;
	}
	ul.year-changer li{
		display: inline-block;
		position: relative;
		margin-right: 3rem;
		width: 1.5rem;
		height: 1.5rem;
	}
	ul.year-changer li span{
		position: absolute;
		top: -2rem;
		left: -.35rem;
		display: inline-block;
		padding: .25rem;
		border-radius: .25rem;
	}
	ul.year-changer li small{
		position: relative;
		top: 2px;
	}
	ul.year-changer li span:after{
		position: absolute;
		content: '';
		bottom:-.5rem;
		left: .6rem;
		border-style: solid;
		border-width: .5rem .5rem 0 .5rem;
	}
	ul.year-changer li:before{
		position: absolute;
		content: '';
		width:1.5rem;
		height: 1.5rem;
		left: 0;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 0 2px 6px rgba(0,0,0,0.6);
	}
	ul.year-changer li:not(:last-child):after{
		position: absolute;
		content: '';
		height: 2px;
		left: 1.5rem;
		width: 3rem;
		top:.75rem;
	}
</style>